
body {
	font-size: 0.75rem;
}

.selected {
	/*background-color: #faa64d;*/
	background-color: #e45a6a;
	color: white;
}

.objects label {
	margin: 0.5rem;
	pointer-events: none;
}

.objects div {
	transition: 0.3s;
	cursor: pointer;
}

.pulsate {
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    background-color: rgb(198,200,202,0.1);
}

@-webkit-keyframes pulsate {
    0% {
        background-color: rgb(198,200,202,0.1);
    }
    50% {
        background-color: rgb(198,200,202,1.0);
    }
    100% {
        background-color: rgb(198,200,202,0.1);
    }
}


.log-out {
	transition: 0.3s;
}

.log-out:hover {
	color: #e45a6a;
}
